*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    body{
    background: #000000;
    background-image: url("../img/fondo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}
}