* {
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}

body{
    
    background-color: #000000;
    width: 1920px;
    height: 1080px;
}

.container1{
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/pexels-pixabay-159400.png);
    background-size: contain;
   background-position: center;
}

.Logo {
   
}   